@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(231, 231, 231);
}

div.header{
    background-color: white;
    padding: 15px;
}

h1{
    text-align: center;
    font-family: "Roboto";
}

div.container-card{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.card{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 1%;
}

div.header-card{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

div.header-card p{
    font-family: "Roboto";
    font-weight: 900; 
}

div.header-card span{
    font-family: "Roboto";
    font-weight: 400;
    color: grey;
}

div.img-card{
    height: 250px;
}

div.img-card img{
    width: 100%;
    height: 100%;
}

div.footer-card{
    height: 100px;
    padding: 15px;
}

div.footer-card p{
    font-family: "Roboto";
    font-weight: 100;
}

b{
    font-weight: 400;
}